/*menu hamburguer*/
@media (max-width: 850px) {
   #btn-mobile {
      display: block;
   }

   #menu {
      display: block;
      position: absolute;
      width: 100%;
      top:70px;
      right: 0px;
      background-color:rgb(255, 255, 255);
      height: 0px;
      transition: .6s;
      z-index: 1000;
      visibility: hidden;
      overflow-y: hidden;
      
   }

   #nav.active #menu{
      height: 100vh;
      visibility: visible;
      overflow-y: auto;
      
      
   }
   header ul li {
      margin-left: 20px;
      font-weight: 500;
      margin-top: 30px;
      width: 90%;
      border-bottom: 2px solid rgba(0, 0, 0, .05) ;
  }

  #btn-mobile{
   display: flex;
   align-items: center;
   padding:  .5rem 1rem;
   font-size: 1rem;
   border: none;
   background-color:transparent;
   cursor: pointer;
   gap: .5rem;
  }

  #hamburguer {
   border-top: 2px solid;
   width: 20px;
  }

  #hamburguer::after, #hamburguer::before{
   content: '';
   display: block;
   width: 20px;
   height: 2px;
   background-color: currentColor;
   margin-top: 5px;
   transition: .3s;
   position: relative;
   
   
  }

  #nav.active #hamburguer {
   border-top-color: transparent;
  }

  #nav.active #hamburguer::before{
   transform: rotate(135deg);
  }

  #nav.active #hamburguer::after{
   transform: rotate(-135deg);
   top: -7px;
  }

   

}




@media screen and (max-width: 1050px){

  

    .section-one{
        background-image: linear-gradient(to bottom, transparent 0%, #565656a4 50%), url(/img/jovem-bonito-usando-tablet-digital-ou-e-book.jpg);
        background-size: contain no-repeat ;
        height: 500px;
        width: 100%;
        text-align: center;
    }

    .intro {
        display: flex;
        padding-top: 60px;
        padding-left: 0px;
        width: 100%;
        flex-direction:column;
        align-items: center;
        
    }

    .div-card{
        text-align: center;
    }
    .card {
      
        padding-left: 0px;
    }

    .card img{
        width: 40px;
        margin-right: 20px;
        padding-bottom: 15px;
    }
    
    
    
    .card-titulo{
        display: flex;
        align-items: center;
        padding-bottom: 30px;
        
    }
    

    .intro h2{
        width: 400px;
    }
    .div-conteudo{
        display: flex;
        flex-direction: column;
    }
    /*sessao como ajudar*/

    .section-ajudar{
        margin-top: 120px;
        width: 100%;
        margin: 0 auto;
        padding-top: 100px;
        
     }
     .section-ajudar h2{
        color:#ff1e44ad;
        font-size: 20px;
        text-align: center;
     }
    
     .section-ajudar h3{
        color:#1a1a1aad;
        font-size: 40px;
        line-height: 42px;
        padding-top: 20px;
        text-align: center;
        width: 100%;
     }
     .div-conteudo{
        display: flex;
        align-items: center;
        padding-top: 20px;
     }
    
     .image-side img{
        max-width: 250px;
        padding-top: 20px;
     }
     
    
     .icons-side{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 10px;
     }
     .icons-side svg{
        margin-right: 0px;
        max-width: 30px;
        padding-bottom: 20px;
        
        
     }
    
    
     .icons-side h4{
        color:#1a1a1aad;
        font-size: 20px;
        text-align: center;
        padding: 5px;
     }
    
     .icons-list{
        margin-left: 0px;
     }

     .section-experimente{
        display: flex;
        width: 90%;
        margin: 0 auto;
        padding: 30px;
        flex-direction: column;
        border-top: 1px solid #1a1a1a6e;;
         
     }

     /*sessao como incentivar */

    .section-incentive{
        margin-top: 120px;
        width: 100%;
        margin: 0 auto;
        padding-top: 50px;
        
     }
     .section-incentive h2{
        color:#0d6efd;
        font-size: 15px;
        text-align: center;
        padding: 10px;
     }
    
     .section-incentive h3{
        color:#1a1a1aad;
        font-size: 40px;
        line-height: 30px;
        padding-top: 20px;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        
        
     }
     .incentive-text p{
      padding: 30px;
      text-align: center;


     }

     .div-conteudo{
        display: flex;
        align-items: center;
        padding-top: 10px;
     }
    
     .div-conteudo-incentive img{
        display: none;
     }
     



     

     /*section instituicoes*/

     .section-instituicoes{
      width: 90%;
      margin: 0 auto;
      padding-top: 100px;
      
   }
   .section-instituicoes h2{
      color:#0d6efd;
      font-size: 20px;
      text-align: center;
   }
  
   .section-instituicoes h3{
      color:#1a1a1aad;
      font-size: 40px;
      line-height: 42px;
      padding-top: 20px;
      text-align: center;
      width: 100%;
      
   }
   /*section pedido*/

   .section-pedido {
      margin-top: 120px;
      width: 100%;
      margin: 0 auto;
      padding-top: 100px;
   }
   .section-pedido h2{
      
      font-size: 20px;
      text-align: center;
   }

   .section-pedido p{
      padding: 30px;
      text-align: center;
   }
   .div-form-infos{
      padding: 50px;
   }
   .div-form-infos form{
      width: 80%;
      margin: 0 auto;
   }
   .div-form-infos p{
      
      font-size: 10px;
      padding: 0;
      text-align: left;
      
     
   }

   /*footer*/

  
  .footer-section-01{
      
      margin: 0 auto;
      flex-direction: column;
      align-items: center;
      width: 70%;
      display: flex;
      color: white;
      
      
  }
  
  .footer-geral{
   padding-top: 50px;
   display: flex;
   width: 100%;
   justify-content: space-between;
}

  
  .footer-info{
      padding-left: 0;
      
  }

  .footer-section-01 img {
  display: none;
}
  

  
  .footer-info ul a {
      color: white;
      text-decoration: none;
      
  }
  
  .footer-info ul li{
      padding-bottom: 15px;
      
  }
  
  .footer-info ul li:hover{
      color: rgb(176, 176, 247);
  }
  
  .footer-social{
      display: flex;
      margin-right: 8%;
  }
  
  
  
  .footer-social h4{
      font-weight: 100;
      margin-left: 40px;
      padding-top: 10px;
  }
  
  .icons-footer{
      margin-left: 20px;
      padding-bottom: 10px;
  }
  
  
  .footer-section-02 {
      align-items: center;
      display: flex;
      justify-content: space-around;
      color: white;
      width: 90%;
      margin: 0 auto;
      padding-top: 30px;
      padding-bottom: 50px;
      border-bottom: 1px solid #efefef6e;
      flex-direction: column;
  }
  
  
  .icons-footer svg{
      
      margin-left: 15px;
  }
  
  .footer-section-03{
      text-align: center;
      align-items: center;
      display: flex;
      justify-content: space-around;
      color: white;
      width: 100%;
      margin: 0 auto;
      padding-top: 50px;
      flex-direction: column;
      
      
  
  }
  
  .footer-social h4{
      font-weight: 100;
      margin-left: 20px;
      font-size: 15px;
  }
  
  
  .footer-social h3{
      font-weight: 100;
      margin-left: 20px;
      padding-bottom: 20px;
      font-size: 20px;
      color: rgb(176, 176, 247);
      
  }
  
  
  
  .footer-section-03 h3{
      font-weight: 100;
      margin-left: 20px;
      font-size: 20px;
  }

  .search-color {
   margin: 15px 15px 0px 15px;
   
}

/*coments*/

.section-coments {
   padding: 10px 0px 70px 0px;
   display: flex;
   flex-direction: column;



  
}

.container{
   padding-top: 30px;
}
}


@media screen and (max-width: 690px){
   .footer-geral {
      padding-top: 50px;
      display: flex;
      width: 100%;
      flex-direction: column;
      text-align: center;
  }

  .footer-social {
   display: flex;
   margin-right: 0%;
   flex-direction: column;
   align-items: center;
}

.footer-section-01 {
   margin: 0 auto;
   flex-direction: column;
   align-items: center;
   width: 70%;
   display: flex;
   color: white;
   padding-right: 5px;
}

  .footer-social h3 {
   font-weight: 100;
   margin-left: 0px;
   padding-bottom: 10px;
   font-size: 15px;
   
}

.icons-footer {
   margin-left: 0px;
}

  .footer-section-02 {
   align-items: center;
   display: flex;
   justify-content: space-around;
   color: white;
   width: 90%;
   margin: 0 auto;
   padding-top: 0px;
   padding-bottom: 50px;
   border-bottom: 1px solid #efefef6e;
   flex-direction: column;
}


#products {
   grid-template-columns: auto auto  ;
   grid-column-gap: 3em;
   
   
}

/*especificações*/

.info-book-geral {
   flex-direction: column;
   
}

.info-book-01{
   padding-bottom: 30px;
   margin: 0 auto;
}

.info-book-01 img{
   width: 200px;
}

#books{
   background-color: blue;
}

.div-image-recursos h1 {
   font-size: 18px;
}

}
    
     


@media screen and (max-width: 619px){
   
   .name-section {
      max-width: 100%;
      display: flex;
      flex-direction: column;
  }

  .name-section .name-section3{
   display: flex;
   flex-direction: column;
  }
  .div-form-infos label{
   font-size: 15px;
  }
  


}

@media screen and (max-width: 1024px){

    
   .wrapper{
      width: 100%;
      margin: 0 auto;
      padding-top: 90px;
   }
      .capa-container img{
          max-width: 10em;
          object-fit: contain;
          height: 10em;
      }
  
      .card-livros {
          width: 10em;
          margin-top: 1em;
      }
  
      #products{
          grid-template-columns: auto auto auto;
          grid-column-gap: 3em;
      }

      /*recursos*/

      .recursos{
         flex-direction: column;
         width: 100%;
         margin-top: 10px;
         padding: 75px;
         height: 100%;
         
      }

      .div-image-recursos img{
         display: none;
         
         
     }

     .div-text-recursos{
      width: 100%;
     }

     .cards-somos {
      grid-template-columns: auto auto auto;
      
  }
}
  



@media screen and (max-width: 520px){
   

    .intro {
        display: flex;
        padding-top: 100px;
        

    } 

    .intro h2{
        width: 95%;
        font-size: 28px;
        line-height: 30px;
    }


    .intro h3 {
        font-size: 14px;
        width:100%;
    }

    
    .div-card{
        flex-direction: column;

    }
    .section-ajudar{
        margin-top: 120px;
        width: 100%;
        margin: 0 auto;
        padding-top: 40px;
        
     }

    .section-ajudar h3{
        color:#1a1a1aad;
        font-size: 23px;
        line-height: 42px;
        padding: 5px;
        text-align: center;
        width: 100%;
     }
     .image-side img{
        width: 200px;
        padding-top: 20px;
     }


     /*section-experimente*/

     .section-experimente{
        
        padding: 0px;
        flex-direction: column;
        border-top: 1px solid #1a1a1a6e;
        text-align: center;
        
         
     }
     .plataforma h1{
        color:#1a1a1aad;
        font-size: 30px;
        line-height: 37px;
        
       
     }
     .incentive-text p {
      font-size: 15px;
     }

     .plataforma{
        width: 100%;
        
     }

     .section-incentive h3 {
      font-size: 23px;
     }

     .section-instituicoes h3 {
      font-size: 23px;
      padding: 10px;
     }


     /*instituicoes*/

     .instituicoes img {
      width: 100px;
   }
   /*vitrine*/

   #products{
      grid-template-columns: auto;
      grid-column-gap: 3em;
  }
  /**/
  .div-form-infos form {
   width: 100%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;  
}
.search-color {
   display: flex;
   flex-direction: column;
   
}
#buttons{
   display: flex;
   flex-direction: column;
   align-items: center;
   
   
}

#buttons button{
   margin-bottom: 5px;
   width: 100%;
   
}
#search-container{
   display: flex;
   flex-direction: column;
   gap: 20px;
   
}

#search-container input {
   width: 90%;
   margin: 0 auto;
}

#search-container #search {
  
   width: 90%;
   margin:0 auto;
}

 .card-livros {
   background-color: #ffffff;
   width: 80%;
   margin: 0 auto;
   height: 1400px;
   margin-top: 53px;
   padding: 1em;
   border-radius: 5px;
   box-shadow: 1em 2em 2.5em rgba(0, 0, 0, 0.082);
   text-align: center;
   
}

.books-sinopse p{
   font-size: 14px;
}

.capa-container{
   text-align: center;
}

.capa-container img{
   max-width: 100%;
   object-fit: contain ;
   height: 200px;
   
}

.coments-content h1{
   font-size: 20px;
   text-align: center;
}

.coment p{
   font-size: 14px;
}

#logo{
    width: 100%;
}

/*recursos*/

.div-text-recursos{
   text-align: center;
   padding-left: 0px;
}

.div-text-recursos h1{
   font-size: 18px;
}

.div-text-recursos h2{
   font-size: 16px;
}
}
/*quem somos*/
@media screen and (max-width: 1330px){
   .apontando-pc{
      width: 400px;
   }

}

@media screen and (max-width: 1214px){
   .apontando-pc{
      visibility: hidden;
   }
   
   .quem-somos-section{
      text-align: center;
   }

   .quem-somos {
      flex-direction: column;
      margin-top: 0px;
      margin-bottom: 0px;
      width: 100%;
      justify-content: center;

   }

   .div-text-recursos {
      width: 90%;
      padding-left: 0%;

}

.div-image-recursos {
   width: 90%;
}

.div-image-quem-somos {
   display: none;
}

.div-text-recursos h2 {
   margin-top: 5px;
}

.div-text-recursos h1 {
   font-weight: 500;
}

.div-image-recursos h1{
   font-size: 30px;
}


}

@media screen and (max-width: 730px){

.cards-somos {
   grid-template-columns: auto auto;
   
}
.intro-cards-somos p {
   width: 90%;
  }

  .div-text-recursos h1 {
   font-size: 20px;

}
.div-image-recursos h1 {
   font-size: 20px;
}
}

@media screen and (max-width: 530px){

   .quem-somos{
      height: 100%;
   }

   .cards-somos {
    grid-template-columns:  auto;
    box-sizing: border-box;
    width: 100%;
    background: none;
    border: none;
    box-shadow: none;
    backdrop-filter: none;
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    user-select: none;
    font-weight: bolder;
    flex-direction: column;
    color: white;
    padding: 30px 5px 0px 5px;
    margin-bottom: 10px;
      
   }

   .intro-coments h1 {
      padding-top: 10px;
      text-align:center;

   }

  

 



}


